.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  max-width: 1140px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 130%x;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6E6893;
  text-align: center;
}

.form {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form__textarea {
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}

.form__button {
  align-self: center;
  border: 2px solid rgb(118, 118, 118);
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: aliceblue;

  transition: background-color .3s ease-in-out,
  color .3s ease-in-out,
  transform .3s ease-in-out;

  pointer-events: none;
}

.form__button:hover {
  background-color: #a09eb2;
  color: #fff;
}

.form__button:active {
  transform: scale(1.1);
}